ADMIN_PIN=change-me
FOOTBALL_DATA_TOKEN=
API_FOOTBALL_KEY=
FOOTBALL_DATA_COMPETITIONS=PL,PD,BL1,SA,FL1,DED,PPL,CL
FOOTBALL_DATA_SYNC_MINUTES=360
API_RATE_LIMIT_PER_MINUTE=60
MAX_REQUEST_BYTES=1000000
WINNER_DB_PATH=winner.db
